In [6]:
import pandas as pd

In [9]:
df = pd.read_json("employees.json")

In [12]:
df.head(2)

   eno  ename  age
0    1   Amar   25
1    2  Akash   28