In [4]:
import pandas as pd

In [7]:
df_expected = pd.read_json("expected/supplier_data.json")

In [8]:
df_expected

   supplier_id supplier_name
0            1    Supplier A
1           20    Supplier B
2           30    Supplier C
3            4    Supplier D
4            5    Supplier E
5            6    Supplier F
6            7    Supplier G
7            8    Supplier H
8            9    Supplier I
9           10    Supplier J